.header {
    height: 5rem;
    border-bottom: 1px solid white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        margin-left: 1rem;
        color: white;
        font-size: 20px;
        padding: 0 6px;
        &:hover {
            color: #ff7f50;
        }
    }

}

.link {
    text-decoration: none;
    
}

.headerContent {
    display: flex;
}

@media (max-width: 390px) {
    .svg {
        display: none;
    }
}